.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    background-color:rgba(124,208,225,255);
}
.btn-container{
    display: flex;
    
}
.toggle-btn , .reset-btn{
  background-color: aqua;
  border-color: antiquewhite;
  margin: 30px;
  border-style: solid;
  

}
.display{
  border-style: solid;
  border-color: antiquewhite;
  background-color: aliceblue;

  
}